;
; Managed by Ansible
;
[duo]
; Duo integration key
ikey = {{pam_duo_ikey}}

; Duo secret key
skey = {{pam_duo_skey}}

; Duo API host
host = {{pam_duo_host}}

; `failmode = safe` In the event of errors with this configuration file or connection to the Duo service
; this mode will allow login without 2FA.
; `failmode = secure` This mode will deny access in the above cases. Misconfigurations with this setting
; enabled may result in you being locked out of your system.
failmode = {% if pam_duo_secure_mode %}secure{% else %}safe{% endif %}

; Send command for Duo Push authentication
pushinfo = {% if pam_duo_push_info %}yes{% else %}no{% endif %}

; Automatically send push to users device
autopush = {% if pam_duo_auto_push %}yes{% else %}no{% endif %}

; Only users in these groups will be prompted for 2FA
groups = {% for arg1 in pam_duo_groups %}{{arg1}}{% if not loop.last %},{% endif %}{% endfor %}

{% if pam_duo_proxy|length %}
http_proxy = {{pam_duo_proxy}}
{% endif %}
